html,body{
	width:100%;
	margin:0px;
	padding:0px;
	height:100%;

}

#content{
	/*width: 800px;*/
	margin:0 10px;
	/*border: 1px solid black;*/
	padding: 5px;
	min-height: 90%
}

.mark{
	color:red;
	font: bold;
}

#login{
	height:30px;
}
#loginform{
	padding-top:20px;
	width: 350px;
	margin:0 auto;
}

#head{
	/*padding-left:5px;*/
	width: 100%;
	margin:0 auto;
	color:#fff;
	font: italic 12pt sans-serif; 
	border-top: 1 solid black;
	border-bottom: 1 solid black;
	background: #69f;
}

.question{
	padding: 8px 0px;
}
textarea{
	min-width: 500px;
	min-height: 200px;
}

.question table
{
	width:100%
}
.quest-text
{
	display: block;
	font-size: 1.05em;
	font-weight: bold;
}

#choice
{
	margin: 200px auto;
	padding-left: 69px;
	padding-top:23px;
	width:300px;
	height:200px;
	color:#fff;
	font: italic 12pt sans-serif; 
	border:1 solid black;
	background: #69f;
}

#choice label
{
	padding-left:80px;
}

.statictic_table
{
	border: solid 1px;
	width: 200px;
	height: 250px;
	display: inline-table;
	margin-left:5px;
	position:relative;
}
.stat
{
	border-top:solid 1px;
	/*bottom: 0;*/
	/*position: absolute;*/
}